Requirements
Before running the code, you must install several Python packages that are used throughout the various scripts. 
Below is a description of the key packages:

sympy: For prime number checking.
tinyec: A library for elliptic curve cryptography.
pycryptodome: Cryptographic library offering various crypto algorithms.
requests: For making HTTP requests.
pandas: For data manipulation and analysis.
matplotlib: For plotting and visualization.
gmpy2: Provides arithmetic and mathematical functions.
scikit-learn: For various machine learning tasks.
numpy: For numerical operations.


You can install these packages using the following command:

pip install sympy tinyec pycryptodome requests pandas matplotlib gmpy2 scikit-learn numpy



Make sure that you have Python and pip installed on your system before running the command.